<h1>Advertisements</h1>

Our Advertisement blog has <%= Article.public_count %> advertisements and counting!

<ul>
  <% @articles.each do |article| %>
    <li>
      <%= link_to article.title, article %>
    </li>
  <% end %>
</ul>

<%= link_to "New Article", new_article_path %>
